// Colors
$white: #FFF;
$off-white: #959595;
$black: #404040;
$light-gray: #F5F5F5;
$gray: #B3B3B3;
$off-gray: #79797B;
$dark-gray: #2C2C2C;
$cooper: #DE6352;


// Spacing
$gutter: 60px;

// Fonts
$spectra: 'GT Sectra Display';
